{{ 'nerd-alternate-items.css' | asset_url | stylesheet_tag }}

<style>
  .alternate--wrapper{
    cursor: pointer;
    
  }
  
  .showme {
    opacity: 0;
    z-index: 100;
    padding: 0 !important;
}

  .showme , .nerd--alternate-image{
    transition: all 300ms;
  }

.alternate--wrapper:hover .showme {
  opacity: 1;
}

  .alternate--wrapper:hover .nerd--alternate-image{
    opacity: 0.4;
  }
  

  
</style>

<div class="nerd-container color-{{ section.settings.color_scheme }}">
  <ul class="nerd-page-width nerd--list-alternate">
    {% for block in section.blocks %}
      {% assign collection = block.settings.collection %}

      <li class="nerd--alternate-item ">
         {% if collection %}
        <div class="alternate--wrapper nerd--image-wrapper nerd--relative alternate--wrapper">
        <div class="nerd--absolute-item-center showme button button--primary">Shop Now</div>
          {% if collection.featured_image %}
            {{
               collection.featured_image
             | image_url: width:collection.featured_image.width
             | image_tag: loading: 'lazy', class: 'nerd--alternate-image', style: styles }}
          {% else %}
            {{ 'product-1' | placeholder_svg_tag: "nerd--alternate-image" }}
          {% endif %}
        </div>

       
          
          <div class="alternate--title nerd--text-md">{{ collection.title }}</div>
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: "nerd--alternate-image" }}
          <div class="alternate--title nerd--text-md">Title</div>
        {% endif %}
      </li>

    {% else %}
      {% for i in (1..4) %}
      {{ 'product-1' | placeholder_svg_tag: "nerd--alternate-image" }}
      <div class="alternate--title nerd--text-md ">Title</div>
        {% endfor %}
    {% endfor %}

  </ul>
</div>

{% schema %}
  {
    "name": "t:sections.alternate_items.name",
    "blocks": [
      {
        "name": "t:sections.alternate_items.blocks.name",
        "type": "item",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.alternate_items.blocks.settings.collection.label"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "background-1",
        "label": "t:sections.all.colors.label"
      }
    ],
    "presets": [
      {
        "name": "t:sections.alternate_items.presets.name"
      }
    ]
  }
{% endschema %}