{% schema %}
{
  "name": "Location Map",
  "settings": [
    {
      "type": "image_picker",
      "label": "Background Image",
      "id": "background_image"
    }
  ],
  "blocks": [
    {
      "type": "location",
      "name": "Location Information",
      "settings": [
        {
          "type": "text",
          "label": "Location Name",
          "id": "location_name",
          "default": "My Location"
        },
        {
          "type": "text",
          "label": "Address",
          "id": "address",
          "default": "486 Evans Avenue Unit 11"
        },
        {
          "type": "text",
          "label": "City",
          "id": "city",
          "default": "Etobicoke"
        },
        {
          "type": "text",
          "label": "Province",
          "id": "province",
          "default": "ON"
        },
        {
          "type": "text",
          "label": "Postal Code",
          "id": "postal_code",
          "default": "M8W 2T7"
        },
        {
          "type": "richtext",
          "label": "Hours of Operation",
          "id": "hours_of_operation",
          "default": "<p>MONDAY 10 AM - 8 PM\nTUESDAY 10 AM - 8 PM\nWEDNESDAY 10 AM - 8 PM\nTHURSDAY 10 AM - 8 PM\nFRIDAY 10 AM - 8 PM\nSATURDAY 10 AM - 3 PM\nSUNDAY 10 AM - 2 PM</p>"
        }
      ]
    },
    {
      "type": "google_map",
      "name": "Google Map",
      "settings": [
        {
          "type": "text",
          "label": "Map URL",
          "id": "map_url",
          "default": "https://maps.google.com/maps?q=Toronto,ON,Canada&output=embed"
        }
      ]
    }
  ],
  "presets" : [
    {
      "name" : "Location with map"
    }
  ]
}
{% endschema %}

{% assign locationInfo = section.blocks | where: 'type', 'location' | first %}
{% assign googleMap = section.blocks | where: 'type', 'google_map' | first %}

<section class="location-map-section" style="background-image: url('{{ section.settings.background_image | img_url }}');">
  <div class="location-info">
    <h2>{{ locationInfo.settings.location_name }}</h2>
    <p>{{ locationInfo.settings.address }}</p>
    <p>{{ locationInfo.settings.city }}, {{ locationInfo.settings.province }} {{ locationInfo.settings.postal_code }}</p>
    <p>{{ locationInfo.settings.hours_of_operation }}</p>
  </div>
  <div class="google-map">
    <iframe src="{{ googleMap.settings.map_url }}"></iframe>
  </div>
</section>
