{% liquid
  assign products_to_display = section.blocks.size

  assign image_class = "image-hw-full nerd-rounded-md color-" | append: section.settings.color_scheme_card
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.display_style == 'slider' and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = false
  if section.settings.display_style == 'slider' and products_to_display > section.settings.columns_desktop
    assign show_desktop_slider = true
  endif
%}


{% style %}
.slick-slide{
  margin-right: 10px !important;
}
{% endstyle %}

<div class="nerd-container color-{{ section.settings.color_scheme }}">
  <div class="nerd-page-width">
    <div class="nerd-title scroll-trigger animate--slide-in {% if section.settings.heading_center %} text-center {% endif %} ">{{ section.settings.title }}</div>
    <div class="nerd-content">
      {% unless section.settings.desktop_swipe %}
      <slider-component class="slider-mobile-gutter slider-component-full-width slider-component-desktop scroll-trigger animate--slide-in">
        {% endunless %}
      <ul
         {% unless section.settings.desktop_swipe %}
        id="Slider-{{ section.id }}"
        {% endunless %}
        class="{% if section.settings.desktop_swipe %} nerd-slider-container {% endif %} grid product-grid contains-card contains-card--product contains-card--standard grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down {% unless section.settings.desktop_swipe %} slider slider--desktop slider--tablet {% endunless %} grid--peek"
        role="list"
        aria-label="{{ 'general.slider.name' | t }}"
      >
          {% for block in section.blocks %}
            {% assign image = block.settings.image %}
            <li
              {% unless section.settings.desktop_swipe %}
              id="Slide-{{ section.id }}-{{ forloop.index }}"
              {% endunless %}
              class="grid__item  {% unless section.settings.desktop_swipe %} slider__slide {% endunless %} scroll-trigger animate--slide-in"
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {% if image %}
                {{
                  image
                  | image_url: width: image.width
                  | image_tag: class: image_class, loading: 'lazy'
                }}
              {% else %}
                {{ 'image' | placeholder_svg_tag: image_class }}
              {% endif %}
            </li>
          {%- else -%}
            {%- for i in (1..4) -%}
              <li
                class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >

                {{ 'image' | placeholder_svg_tag: image_class }}
              </li>
            {%- endfor -%}
          {%- endfor -%}
        </ul>
        
        {% unless section.settings.desktop_swipe %}
        {%- if show_mobile_slider or show_desktop_slider -%}
          <div class="slider-buttons no-js-hidden justify-{{ buttons_position }} ">
            <button
              type="button"
              class="slider-button slider-button--prev"
              name="previous"
              aria-label="{{ 'general.slider.previous_slide' | t }}"
              aria-controls="Slider-{{ section.id }}"
            >
              {% if section.settings.buttons_style == 'arrow' %}
                <div class="arrow-icon">
                  {% render 'icon-arrow' %}
                </div>

              {% else %}
                {% render 'icon-caret' %}
              {% endif %}
            </button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total">{{ products_to_display }}</span>
            </div>
            <button
              type="button"
              class="slider-button slider-button--next"
              name="next"
              aria-label="{{ 'general.slider.next_slide' | t }}"
              aria-controls="Slider-{{ section.id }}"
            >
              {% if section.settings.buttons_style == 'arrow' %}
                <div class="arrow-icon">
                  {% render 'icon-arrow' %}
                </div>

              {% else %}
                {% render 'icon-caret' %}
              {% endif %}
            </button>
          </div>
        {%- endif -%}
          {% endunless %}
        {% unless section.settings.desktop_swipe %}
      </slider-component>
        {% endunless %}
    </div>
  </div>
</div>

{% if section.settings.desktop_swipe %}

<script type="text/javascript">
  $(document).ready(function(){
  $('.nerd-slider-container').slick({
   dots: true,
  infinite: false,
  speed: 300,
  
                  slidesToShow: 3,
                  slidesToScroll: 1,
                  responsive: [
                    {
                      breakpoint: 1024,
                      settings: {
                        slidesToShow: {{ section.settings.columns_desktop }},
                        slidesToScroll: {{ section.settings.columns_desktop | minus: 1 }},
                        infinite: true,
                        dots: true
                      }
                    },
                    {
                      breakpoint: 970,
                      settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                      }
                    },
                    {
                      breakpoint: 750,
                      settings: {
                        slidesToShow: {{ section.settings.columns_mobile }},
                        slidesToScroll: {{ section.settings.columns_mobile }}
                      }
                    }
                  ]
                      });
                    });
</script>


{% endif %}
  
{% schema %}
{
  "name": "Image Slider",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Image Gallery",
      "label": "Title"
    },
     {
      "type" : "checkbox",
      "id" : "full_width",
      "default" : false,
      "label" : "Full Width"
      
    },
      {
      "type" : "checkbox",
      "id" : "heading_center",
      "default" : false,
      "label" : "Center Heading"
      
    },

  {
    "type" : "radio",
    "id" : "display_style",
    "label" : "Display Style",
    "default" : "slider",
    "options" : [
      {
        "value" : "slider",
        "label" :  "Slider"
      },
      {
        "value" : "grid",
        "label" : "grid"
      }

    ]
  },
    {
      "type" : "checkbox",
      "id" : "desktop_swipe",
      "default" : false,
      "label" : "Enable Swipe in Desktop"
      
    },
    {
    "type" : "radio",
    "id" : "columns_desktop",
    "label" : "Columns in Desktop",
    "default" : "3",
    "options" : [
      {
        "value" : "3",
        "label" :  "3"
      },
      {
        "value" : "4",
        "label" : "4"
      }

    ]
  },
      {
    "type" : "radio",
    "id" : "columns_mobile",
    "label" : "Columns in Mobile",
    "default" : "1",
    "options" : [
      {
        "value" : "1",
        "label" :  "1"
      },
      {
        "value" : "2",
        "label" : "2"
      }

    ]
  },
     {
    "type": "color_scheme",
    "id": "color_scheme",
    "label": "t:sections.all.colors.label",
    "info": "t:sections.image-banner.settings.color_scheme.info",
    "default": "background-1"
    },

           {
    "type": "color_scheme",
    "id": "color_scheme_card",
    "label": "Card Color Scheme",
    "default": "background-2"
    }

  ],
  "blocks" : [
     {
        "type": "image_picker",
        "name": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }

  ],
  "presets" : [
    {
      "name" : "Image Slider"
    }
  ]
}
{% endschema %}


