{% assign totalImages = section.blocks.size %}

{% case totalImages %}
  {% when 5 %}
    {% assign col1 = "grid-col-2-desktop" %}
    {% assign col2 = "grid-col-1-desktop" %}
  {% when 4 %}
    {% assign col1 = "grid-col-2-desktop" %}
    {% assign col2 = "grid-col-2-desktop" %}
  {% when 3 %}
    {% assign col1 = "grid-col-2-desktop" %}
    {% assign col2 = "grid-col-1-desktop" %}
  {% when 2 %}
    {% assign col1 = "grid-col-2-desktop" %}
    {% assign col2 = "grid-col-2-desktop" %}
  {% when 1 %}
    {% assign col1 = "grid-col-1-mobile" %}
    {% assign col2 = "" %}
{% endcase %}

<div class="nerd-grid-container">
  {% for block in section.blocks %}
    {% if forloop.index0 == 0 or forloop.index0 == 2 %}
      <div class="nerd-grid-row">
        <div class="nerd-grid-col {{ col1 }}">
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.alt_text }}">
        </div>
    {% elsif forloop.index0 == 1 or forloop.index0 == 3 %}
        <div class="nerd-grid-col {{ col2 }}">
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.alt_text }}">
        </div>
    {% else %}
        <div class="nerd-grid-col">
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.alt_text }}">
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>