{{ 'nerd-image-grid.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_quick_add -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% liquid

  assign count = section.blocks.size
  if count == 1
    assign grid_1_class = "nerd--grid-1-desktop nerd--grid-1-tablet nerd--grid-1-mobile"
  elsif count == 2
    assign grid_1_class = "nerd--grid-2-desktop nerd--grid-1-tablet"
    assign grid_2_class = " nerd--grid-1-desktop nerd--grid-1-tablet nerd--grid-1-mobile"
  elsif count == 3
    assign grid_1_class = "nerd--grid-2-desktop nerd--grid-1-tablet"
    assign grid_2_class = "nerd--grid-row-2 nerd--grid-1-desktop nerd--grid-2-tablet nerd--grid-1-mobile"
  else
    assign grid_1_class = "nerd--grid-2-desktop nerd--grid-1-tablet"
    assign grid_2_class = "nerd--grid-row-2 nerd--grid-2-desktop nerd--grid-2-tablet nerd--grid-1-mobile"
 
    
  endif

%}

<div class="color-{{ section.settings.color_scheme }}">
  <div class="nerd--grid image-grid {{ grid_1_class }}">
    <div class="nerd--relative image-wrapper first nerd--image-grid-height-full">
      {% if count > 0 %}
        {% assign first = section.blocks.first %}
      {% assign content_position = first.settings.content_position | prepend: "nerd--absolute-item-" %}
        {% assign product = first.settings.product %}
      {% assign image = product.featured_image %}

        {% capture styles %}
          opacity: {{ first.settings.image_opacity }}%;
        {% endcapture %}
        {% if image %}
          {{
             image
           | image_url: width: image.width
           | image_tag: loading: 'lazy', class: 'nerd--image-grid-bigimage', style: styles }}
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: "hw-full bg-cover nerd--image-grid-bigimage" }}
        {% endif %}
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: "hw-full bg-cover nerd--image-grid-bigimage" }}
      {% endif %}
      <div class="{{ content_position }} nerd--flex-col nerd--image-grid-absolute nerd--text-center">
        {% if first.settings.show_title %}
              <div class="nerd-title">
                {{ product.title }}
              </div>
        {% endif %}
        {% if section.settings.enable_quick_add %}
        

  {% assign card_product = product %}

        <div id="quick-add" class="quick-add no-js-hidden">
            {%- liquid
              assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id
              assign qty_rules = false
              if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
                assign qty_rules = true
              endif
            -%}
            {%- if card_product.variants.size > 1 or qty_rules -%}
              <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
                <button
                  id="{{ product_form_id }}-submit"
                  type="submit"
                  name="add"
                  class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add animate-arrow{% endif %}"
                  aria-haspopup="dialog"
                  aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                  data-product-url="{{ card_product.url }}"
                >
                  {{ 'products.product.choose_options' | t }}
                  {%- if horizontal_quick_add -%}
                    <span class="icon-wrap">{% render 'icon-arrow' %}</span>
                  {%- endif -%}
                  <div class="loading-overlay__spinner hidden">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      class="spinner"
                      viewBox="0 0 66 66"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
                </button>
              </modal-opener>
              <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
                <div
                  role="dialog"
                  aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
                  aria-modal="true"
                  class="quick-add-modal__content global-settings-popup"
                  tabindex="-1"
                >
                  <button
                    id="ModalClose-{{ card_product.id }}"
                    type="button"
                    class="quick-add-modal__toggle"
                    aria-label="{{ 'accessibility.close' | t }}"
                  >
                    {% render 'icon-close' %}
                  </button>
                  <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info"></div>
                </div>
              </quick-add-modal>
            {%- else -%}
              <product-form>
                {%- form 'product',
                  card_product,
                  id: product_form_id,
                  class: 'form',
                  novalidate: 'novalidate',
                  data-type: 'add-to-cart-form'
                -%}
                  <input
                    type="hidden"
                    name="id"
                    value="{{ card_product.selected_or_first_available_variant.id }}"
                    disabled
                  >
                  <button
                    id="{{ product_form_id }}-submit"
                    type="submit"
                    name="add"
                    class="quick-add__submit button button--full-width button--primary{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %}"
                    aria-haspopup="dialog"
                    aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                    aria-live="polite"
                    data-sold-out-message="true"
                    {% if card_product.selected_or_first_available_variant.available == false %}
                      disabled
                    {% endif %}
                  >
                    <span>
                      {%- if card_product.selected_or_first_available_variant.available -%}
                      {{ 'products.product.add_to_cart' | t }}
                      {%- else -%}
                        {{ 'products.product.sold_out' | t }}
                      {%- endif -%}
                    </span>
                    <span class="sold-out-message hidden">
                      {{ 'products.product.sold_out' | t }}
                    </span>
                    {%- if horizontal_quick_add -%}
                      <span class="icon-wrap">{% render 'icon-plus' %}</span>
                    {%- endif -%}
                    <div class="loading-overlay__spinner hidden">
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        class="spinner"
                        viewBox="0 0 66 66"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </div>
                  </button>
                {%- endform -%}
              </product-form>
            {%- endif -%}
          </div>











        
          {% endif %}
            </div>
    </div>
    <div class="nerd--grid nerd--grid-item {{ grid_2_class }} ">
      {% for block in section.blocks %}

        {% if forloop.index > 1 %}
          {%  assign product = block.settings.product %}
          {% assign image = product.featured_image %}
          {% capture styles %}
            opacity : {{ block.settings.image_opacity }}%;
          {% endcapture %}
          {% capture classes %}
            {% if count == 2 %}
              nerd--image-grid-height-full
            {% else %}
              nerd--image-grid-height-half
            {% endif %}
          {% endcapture %}
          {% liquid
          assign content_position = "nerd--absolute-item-center"
            if block.settings.content_position == "top" 
              assign content_position = "nerd--absolute-item-top"
            elsif block.settings.content_position == "bottom"
              assign content_position = "nerd--absolute-item-bottom"
            endif
          
          
          
          %}
          <div class="nerd--grid-image-wrapper {{ classes }} nerd--relative {% if count==4 and forloop.index==4 %} nerd--grid-colspan-2 {% endif %}">
            {% if image %}
              {{
                 image
               | image_url: width: image.width
               | image_tag: loading: 'lazy', style: styles, class: classes }}

            {% else %}
              {{ 'product-1' | placeholder_svg_tag: classes }}
            {% endif %}
            <div class="{{ content_position }} nerd--flex-col nerd--image-grid-absolute nerd--text-center">
              <div class="nerd-title">
                {{ product.title }}
              </div>



                {% if section.settings.enable_quick_add and product %}
        

  {% assign card_product = product %}

        <div id="quick-add" class="quick-add no-js-hidden">
            {%- liquid
              assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id
              assign qty_rules = false
              if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
                assign qty_rules = true
              endif
            -%}
            {%- if card_product.variants.size > 1 or qty_rules -%}
              <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
                <button
                  id="{{ product_form_id }}-submit"
                  type="submit"
                  name="add"
                  class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add animate-arrow{% endif %}"
                  aria-haspopup="dialog"
                  aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                  data-product-url="{{ card_product.url }}"
                >
                  {{ 'products.product.choose_options' | t }}
                  {%- if horizontal_quick_add -%}
                    <span class="icon-wrap">{% render 'icon-arrow' %}</span>
                  {%- endif -%}
                  <div class="loading-overlay__spinner hidden">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      class="spinner"
                      viewBox="0 0 66 66"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
                </button>
              </modal-opener>
              <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
                <div
                  role="dialog"
                  aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
                  aria-modal="true"
                  class="quick-add-modal__content global-settings-popup"
                  tabindex="-1"
                >
                  <button
                    id="ModalClose-{{ card_product.id }}"
                    type="button"
                    class="quick-add-modal__toggle"
                    aria-label="{{ 'accessibility.close' | t }}"
                  >
                    {% render 'icon-close' %}
                  </button>
                  <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info"></div>
                </div>
              </quick-add-modal>
            {%- else -%}
              <product-form>
                {%- form 'product',
                  card_product,
                  id: product_form_id,
                  class: 'form',
                  novalidate: 'novalidate',
                  data-type: 'add-to-cart-form'
                -%}
                  <input
                    type="hidden"
                    name="id"
                    value="{{ card_product.selected_or_first_available_variant.id }}"
                    disabled
                  >
                  <button
                    id="{{ product_form_id }}-submit"
                    type="submit"
                    name="add"
                    class="quick-add__submit button button--full-width button--primary{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %}"
                    aria-haspopup="dialog"
                    aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                    aria-live="polite"
                    data-sold-out-message="true"
                    {% if card_product.selected_or_first_available_variant.available == false %}
                      disabled
                    {% endif %}
                  >
                    <span>
                      {%- if card_product.selected_or_first_available_variant.available -%}
                      {{ 'products.product.add_to_cart' | t }}
                      {%- else -%}
                        {{ 'products.product.sold_out' | t }}
                      {%- endif -%}
                    </span>
                    <span class="sold-out-message hidden">
                      {{ 'products.product.sold_out' | t }}
                    </span>
                    {%- if horizontal_quick_add -%}
                      <span class="icon-wrap">{% render 'icon-plus' %}</span>
                    {%- endif -%}
                    <div class="loading-overlay__spinner hidden">
                      <svg
                        aria-hidden="true"
                        focusable="false"
                        class="spinner"
                        viewBox="0 0 66 66"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </div>
                  </button>
                {%- endform -%}
              </product-form>
            {%- endif -%}
          </div>











        
          {% endif %}




              
              
            </div>
          </div>
        {% endif %}
      {% else %}
        {% for i in (1..4) %}

          <div class="nerd--grid-item image-wrapper nerd--image-small">
            {{ 'product-1' | placeholder_svg_tag: "hw-full bg-cover" }}
          </div>
        {% endfor %}

      {% endfor %}
    </div>

  </div>

</div>



{% schema %}
  {
    "name": "Proucts Grid",
    "blocks": [
      {
        "name": "t:sections.products_grid.blocks.name",
        "type": "product",
        "limit": 5,
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "t:sections.product_grid.blocks.settings.product.label"
          },
          {
            "type": "range",
            "id": "image_opacity",
            "min": 10,
            "max": 100,
            "step": 10,
            "unit": "%",
            "default": 90,
            "label": "t:sections.products_grid.blocks.settings.opacity.label"
          },
          {
            "type" : "select",
            "id" : "content_position",
            "default" : "center",
            "label" : "t:sections.products_grid.blocks.settings.content.label",
            "options" : [
              {
                "value" : "top",
                "label" : "t:sections.products_grid.blocks.settings.content.options.top.label"
              },
              {
                "value" : "center",
                "label" : "t:sections.products_grid.blocks.settings.content.options.center.label"
              },
              {
                "value" : "bottom",
                "label" : "t:sections.products_grid.blocks.settings.content.options.bottom.label"
              }
            ]
          }
          
        ]
      }
    ],
    "settings": [
      {
            "type": "checkbox",
            "id": "show_title",
            "label": "t:sections.products_grid.settings.show_title.label"
          },
          {
            "type": "checkbox",
            "id": "enable_quick_add",
            "label": "t:sections.products_grid.settings.quick_add.label"
          },

      {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "background-2",
        "label": "t:sections.all.colors.label"
      }
    ],
    "presets": [
      {
        "name": "Products Grid"
      }
    ]
  }
{% endschema %}