{{ 'nerd-product-grid.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_quick_add -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% liquid

  assign count = section.blocks.size
  if count == 1
    assign grid_1_class = "nerd--grid-1-desktop nerd--grid-1-tablet nerd--grid-1-mobile"
  elsif count == 2
    assign grid_1_class = "nerd--grid-2-desktop nerd--grid-1-tablet"
    assign grid_2_class = " nerd--grid-1-desktop nerd--grid-1-tablet nerd--grid-1-mobile"
  elsif count == 3
    assign grid_1_class = "nerd--grid-2-desktop nerd--grid-1-tablet"
    assign grid_2_class = "nerd--grid-row-2 nerd--grid-1-desktop nerd--grid-2-tablet nerd--grid-1-mobile"
  else
    assign grid_1_class = "nerd--grid-2-desktop nerd--grid-1-tablet"
    assign grid_2_class = "nerd--grid-row-2 nerd--grid-2-desktop nerd--grid-2-tablet nerd--grid-1-mobile"
 
    
  endif

%}

<style>
  .nerd--product-grid-title {
    backdrop-filter: blur(10px) saturate(70%);
    text-transform: uppercase;
    padding: 10px;
  }

  .nerd--showme {
    opacity: 0;
    transition: all 0.3s;
  }
  .nerd--showhim {
    cursor: pointer;
  }

  .nerd--showhim:hover .nerd--showme {
    opacity: 1;
  }

  .nerd--image-grid-bigimage, .nerd--image-grid--image {
    transition: all 0.3s;
  }

  .nerd--showhim:hover .nerd--image-grid-bigimage {
    transform: scale(0.95);
    opacity: 0.6 !important;
  }

  .nerd--showhim:hover .nerd--image-grid--image{
     transform: scale(0.95);
    opacity: 0.6 !important;
  }
</style>

<div class="color-{{ section.settings.color_scheme }}">
  <div class="nerd--grid image-grid {{ grid_1_class }}">
     {% assign first = section.blocks.first %}
        {% assign content_position = first.settings.content_position | prepend: "nerd--absolute-item-" %}
        {% assign product = first.settings.product %}
        {% assign image = product.featured_image %}

        {% capture styles %}
          opacity: {{ first.settings.image_opacity }}%;
        {% endcapture %}
    <a href={{ product.url }} >
    <div class="nerd--relative image-wrapper first nerd--image-grid-height-full nerd--showhim">
      {% if count > 0 %}
       
        {% if image %}
          {{
             image
           | image_url: width: image.width
           | image_tag: loading: 'lazy', class: 'nerd--image-grid-bigimage', style: styles }}
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: "hw-full bg-cover nerd--image-grid-bigimage" }}
        {% endif %}
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: "hw-full bg-cover nerd--image-grid-bigimage" }}
      {% endif %}
      <div class="{{ content_position }} nerd--flex-col nerd--image-grid-absolute nerd--text-center nerd--product-grid-title">
        {% if section.settings.show_title %}
          <div class="nerd-title font-600">
            {{ product.title }}
          </div>
        {% endif %}
      </div>
      {%  if section.settings.enable_quick_add %}
      <div class="nerd--absolute-item-center nerd--showme">
        {% render 'quick-add', card_product: product, section_id: section_id %}
      </div>
        {% endif %}
    </div>
    </a>
    <div class="nerd--grid nerd--grid-item {{ grid_2_class }} ">
      {% for block in section.blocks %}

        {% if forloop.index > 1 %}
          {% assign product = block.settings.product %}
          {% assign image = product.featured_image %}
          {% capture styles %}
            opacity : {{ block.settings.image_opacity }}%;
          {% endcapture %}
          {% capture classes %}
            nerd--image-grid--image
            {% if count == 2 %}
              nerd--image-grid-height-full
            {% else %}
              nerd--image-grid-height-half
            {% endif %}
          {% endcapture %}
          {% liquid
          assign content_position = "nerd--absolute-item-center"
            if block.settings.content_position == "top" 
              assign content_position = "nerd--absolute-item-top"
            elsif block.settings.content_position == "bottom"
              assign content_position = "nerd--absolute-item-bottom"
            endif
          
          
          
          %}
          <a href={{ product.url }} >
          <div class="nerd--grid-image-wrapper {{ classes }} nerd--relative {% if count==4 and forloop.index==4 %} nerd--grid-colspan-2 {% endif %} nerd--showhim">
            {% if image %}
              {{
                 image
               | image_url: width: image.width
               | image_tag: loading: 'lazy', style: styles, class: classes }}

            {% else %}
              {{ 'product-1' | placeholder_svg_tag: classes }}
            {% endif %}
            <div class="{{ content_position }} nerd--flex-col nerd--image-grid-absolute nerd--text-center">
              {% if section.settings.show_title %}
              <div class="card__heading h4 font-600">
                {{ product.title }}
              </div>
                {% endif %}
            </div>
            {%  if section.settings.enable_quick_add %}
             <div class="nerd--absolute-item-center nerd--showme">
        {% render 'quick-add', card_product: product, section_id: section_id %}
      </div>
              {% endif %}
          </div>
          </a>
        {% endif %}
      {% else %}
        {% for i in (1..4) %}

          <div class="nerd--grid-item image-wrapper nerd--image-small">
            {{ 'product-1' | placeholder_svg_tag: "hw-full bg-cover" }}
          </div>
        {% endfor %}

      {% endfor %}
    </div>

  </div>

</div>



{% schema %}
  {
    "name": "Proucts Grid",
    "blocks": [
      {
        "name": "t:sections.products_grid.blocks.name",
        "type": "product",
        "limit": 5,
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "t:sections.product_grid.blocks.settings.product.label"
          }, {
            "type": "range",
            "id": "image_opacity",
            "min": 10,
            "max": 100,
            "step": 10,
            "unit": "%",
            "default": 90,
            "label": "t:sections.products_grid.blocks.settings.opacity.label"
          }, {
            "type": "select",
            "id": "content_position",
            "default": "bottom",
            "label": "t:sections.products_grid.blocks.settings.content.label",
            "options": [
              {
                "value": "top",
                "label": "t:sections.products_grid.blocks.settings.content.options.top.label"
              }, {
                "value": "center",
                "label": "t:sections.products_grid.blocks.settings.content.options.center.label"
              }, {
                "value": "bottom",
                "label": "t:sections.products_grid.blocks.settings.content.options.bottom.label"
              }
            ]
          }

        ]
      }
    ],
    "settings": [
      {
        "type": "checkbox",
        "id": "show_title",
        "label": "t:sections.products_grid.settings.show_title.label"
      }, {
        "type": "checkbox",
        "id": "enable_quick_add",
        "label": "t:sections.products_grid.settings.quick_add.label"
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "background-2",
        "label": "t:sections.all.colors.label"
      }
    ],
    "presets": [
      {
        "name": "Products Grid"
      }
    ]
  }
{% endschema %}